<!-- <p>about works!</p> -->

<!-- <div id="service" class="container text-center">
    <h3>Services</h3>
    <p><em></em></p>
    <p>We have created a online shopping website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><strong>Card Payment</strong></p><br>
        <a href="#demo" data-toggle="collapse">
          <img src="https://www.goodreturns.in/img/400x100/2016/01/creditcard-11-1452487704.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo" class="collapse">
          <p>Access to all debit and credit cards</p>
          
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Home Delivery</strong></p><br>
        <a href="#demo2" data-toggle="collapse">
          <img src="https://media.istockphoto.com/vectors/home-delivery-typography-with-delivery-man-bringing-food-or-groceries-vector-id1221287020?b=1&k=6&m=1221287020&s=612x612&w=0&h=BcjkSvozNEkcSTHh9lks8gebpipHfCdq17gM0s41ZT0=" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo2" class="collapse">
          <p>Fast and Free service avilable</p>
         
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Help</strong></p><br>
        <a href="#demo3" data-toggle="collapse">
          <img src="https://www.globalts.com/images/24_7_support.png" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo3" class="collapse">
          <p>Account related support</p>
         
        </div>
      </div>
    </div>
  </div> -->
  
  
 
  <div id="about" class="container text-center">
    <h3>About Us</h3>
    <p><em></em></p>
    <p>Good things happen when people can move, whether across town or toward their dreams. Opportunities appear, open up, become reality. What started as a way to tap a button to get a ride has led to billions of moments of human connection as people around the world go all kinds of places in all kinds of ways with the help of our technology.</p>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><strong>Sustainability</strong></p><br>
        <a href="#demo" data-toggle="collapse">
          <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_312,h_208/v1603308507/assets/f6/0c9607-ae68-43d5-9e88-79f3011d88ee/original/Sustainability.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo" class="collapse">
          <p>EasyRide is committing to becoming a fully electric, zero-emission platform by 2040, with 100% of rides taking place in zero-emission vehicles, on public transit, or with micromobility. It is our responsibility as the largest mobility platform in the world to more aggressively tackle the challenge of climate change. We will do this by offering riders more ways to ride green, helping drivers go electric, making transparency a priority and partnering with NGOs and the private sector to help expedite a clean and just energy transition.</p>
          
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Rides and beyond</strong></p><br>
        <a href="#demo2" data-toggle="collapse">
          <img src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_558,h_372/v1554854756/assets/74/0853d5-80e4-414a-91d7-6fd0b15a136d/original/UberIM_20250-medium-%282%29.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo2" class="collapse">
          <p>In addition to giving riders a way to get from point A to point B, we're working to bring the future closer with self-driving technology and urban air transport, helping people order food quickly and affordably, removing barriers to healthcare, creating new freight-booking solutions, and helping companies provide a seamless employee travel experience.</p>
         
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Opportunities</strong></p><br>
        <a href="#demo3" data-toggle="collapse">
          <img src="https://5.imimg.com/data5/EN/XD/NW/ANDROID-70955124/product-jpeg-500x500.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo3" class="collapse">
          <p>From selling globally to locally, from making money on your site to expanding your business, Amazon has a lot of opportuntiies for you to explore.</p>
         
        </div>
      </div>
    </div>
  </div>
  
  <br><br><br>

  <div id="service" class="container text-center">
    <h3>Services</h3>
    <p><em></em></p>
    <p>EasyRide pioneered the concept of ‘tech-enabled, ride-hailing’ in India. And having served millions of customers for over 20 years, we take pride in being the Most trusted cab service provider in the country. Meru connects people across 24 Indian cities with its large fleet of well-maintained car integrated with the latest technologies for a delightful and secured ride-hailing experience.</p>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><strong>Card Payment</strong></p><br>
        <a href="#demo" data-toggle="collapse">
          <img src="https://www.goodreturns.in/img/400x100/2016/01/creditcard-11-1452487704.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo" class="collapse">
          <p>Access to all debit and credit cards</p>
          
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>At Your DoorStep</strong></p><br>
        <a href="#demo2" data-toggle="collapse">
          <img src="https://5.imimg.com/data5/JR/MD/LD/GLADMIN-57874355/selection-007-500x500.png" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo2" class="collapse">
          <p>Fast and Free service avilable</p>
         
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Help</strong></p><br>
        <a href="#demo3" data-toggle="collapse">
          <img src="https://www.globalts.com/images/24_7_support.png" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo3" class="collapse">
          <p>Account related support</p>
         
        </div>
      </div>
    </div>
  </div>
<br>