/* Background image */

.bg-coverss {
    background-image: url('https://www.meru.in/assets/images/driver-with-us/driver-background-image.jpg');
}

.jumbotron {
    text-align: right;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-shadow: 0px 0px #000;
    font-weight: bold;
    background-color: #0f8d39;
  }
  
  .lead span {
    color: rgba(255, 238, 0, 0.993);
    /* font-weight: bold; */
  }
  
  .bg-coverss {
    background-size: cover;
    color: #ecececcb;
    background-position: center center;
    position: relative;
    z-index: -2;
  }
  
  .overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }