
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#"> EasyRide 
      <!-- <img src="http://placehold.it/150x50?text=Logo" alt=""> -->  </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/customerhome"><span class="fas fa-home"></span>&nbsp; MyHome
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookTrip">BookMyRide</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/tripHistory">ViewTrips</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/viewBestDrivers">TopRated Drivers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/customerProfile">View Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/editdetalis">Edit Details</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/home">LogOut</a>
        </li>

<!-- 
    <li class="dropdown ">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown01"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
        class="fas fa-sign-in-alt"></span>&nbsp; LogIn</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a ngbDropdownItem class="dropdown-item" routerLink="/logincustomer"> Customer Login</a>
          <a ngbDropdownItem class="dropdown-item" routerLink="/loginAdmin"> Admin Login</a>
          <a ngbDropdownItem class="dropdown-item" routerLink="/logindriver"> Driver Login</a>
          </div>
        </li> 
     

      <li class="dropdown ">
        <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="dropdown02"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fas fa-user-plus"></span>&nbsp; SignUp</a>

        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown02">
          <a ngbDropdownItem class="dropdown-item" routerLink="/customersignup" style="text-decoration-color: gray;"> Customer SignUp</a>
          <a ngbDropdownItem class="dropdown-item" routerLink="/driversignup"> Driver SignUp</a>
        </div>

      </li> -->
     
    </ul>
  </div>


  </div>
</nav>  

<!-- <b>hello {{name}}</b>
{{customer.username}} -->


<!-- jumbotron -->

<h2 style="text-align: center;">Hello {{customer.username }} Welcome Back!!</h2>
<br>
<div class="jumbotron jumbotron bg-covers">
  <div class="overlay"></div> 
 <div class="container">
   <br>
   <h3 class="display-4 md-2">WE CARE ABOUT YOU</h3><br>
   <p class="lead"> <span>Reach your destination at one click</span> </p>

   <!-- <div class="form-group">
     <button type="submit" class="btn btn-success btn-sm " >BookRide</button>
 </div> -->
 </div>
 <br><br><br><br>
</div>


